.friendList {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  margin-bottom: 32px;
}

.friendItem {
  width: 100px;
  padding: 16px;
  border: 2px solid #1f1f1f;
  border-radius: 10px;
}
