.table {
  width: 480px;
  border-collapse: collapse;
  margin-bottom: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.03em;
}

.tableTitles,
.transactionItem {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  color: #181818;
}

.tableTitles {
  background-color: #2c2c2c;
  color: white;
}

.transaction:nth-child(even) {
  background-color: #b3b3b3;
}

.transaction:nth-child(odd) {
  background-color: white;
}
